<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title><%= title %></title>
		<meta name="description" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="css/<%= title %><% if (min) { %>.min<% } %>.css">

	</head>
	<body>
		<div id="topnav">
		</div> 
        <div class="container">
         
            <div class="col-md-12">
             
              	<div class="list-group">
				  <a href="#" class="list-group-item">
				    <h4 class="list-group-item-heading">List group item heading</h4>
				    <p class="list-group-item-text">Ut congue, quam a molestie luctus, quam orci congue erat, laoreet interdum lectus justo ac urna. Vestibulum eleifend tellus sit amet urna egestas tempus. Proin ac pretium nisi. Phasellus sit amet tincidunt magna, quis tincidunt sapien. Quisque quis pretium diam, ut consectetur ligula. Sed condimentum purus viverra auctor porta. Ut in bibendum velit. Curabitur eu leo mattis, pretium sapien sed, iaculis mauris.</p>
				  </a>
				  <a href="#" class="list-group-item">
				    <h4 class="list-group-item-heading">List group item heading</h4>
				    <p class="list-group-item-text">Ut congue, quam a molestie luctus, quam orci congue erat, laoreet interdum lectus justo ac urna. Vestibulum eleifend tellus sit amet urna egestas tempus. Proin ac pretium nisi. Phasellus sit amet tincidunt magna, quis tincidunt sapien. Quisque quis pretium diam, ut consectetur ligula. Sed condimentum purus viverra auctor porta. Ut in bibendum velit. Curabitur eu leo mattis, pretium sapien sed, iaculis mauris.</p>
				  </a>
				  <a href="#" class="list-group-item">
				    <h4 class="list-group-item-heading">List group item heading</h4>
				    <p class="list-group-item-text">Ut congue, quam a molestie luctus, quam orci congue erat, laoreet interdum lectus justo ac urna. Vestibulum eleifend tellus sit amet urna egestas tempus. Proin ac pretium nisi. Phasellus sit amet tincidunt magna, quis tincidunt sapien. Quisque quis pretium diam, ut consectetur ligula. Sed condimentum purus viverra auctor porta. Ut in bibendum velit. Curabitur eu leo mattis, pretium sapien sed, iaculis mauris.</p>
				  </a>
				  <a href="#" class="list-group-item">
				    <h4 class="list-group-item-heading">List group item heading</h4>
				    <p class="list-group-item-text">Ut congue, quam a molestie luctus, quam orci congue erat, laoreet interdum lectus justo ac urna. Vestibulum eleifend tellus sit amet urna egestas tempus. Proin ac pretium nisi. Phasellus sit amet tincidunt magna, quis tincidunt sapien. Quisque quis pretium diam, ut consectetur ligula. Sed condimentum purus viverra auctor porta. Ut in bibendum velit. Curabitur eu leo mattis, pretium sapien sed, iaculis mauris.</p>
				  </a>
				  <a href="#" class="list-group-item">
				    <h4 class="list-group-item-heading">List group item heading</h4>
				    <p class="list-group-item-text">Ut congue, quam a molestie luctus, quam orci congue erat, laoreet interdum lectus justo ac urna. Vestibulum eleifend tellus sit amet urna egestas tempus. Proin ac pretium nisi. Phasellus sit amet tincidunt magna, quis tincidunt sapien. Quisque quis pretium diam, ut consectetur ligula. Sed condimentum purus viverra auctor porta. Ut in bibendum velit. Curabitur eu leo mattis, pretium sapien sed, iaculis mauris.</p>
				  </a>
				  <a href="#" class="list-group-item">
				    <h4 class="list-group-item-heading">List group item heading</h4>
				    <p class="list-group-item-text">...</p>
				  </a>
				  <a href="#" class="list-group-item">
				    <h4 class="list-group-item-heading">List group item heading</h4>
				    <p class="list-group-item-text">...</p>
				  </a>
				</div>


            </div>
           
          </div>


		<div id="application">
		</div> 

	</body>
	<script data-main="js/main" src="js/<%= title %><% if (min) { %>.min<% } %>.js"></script>
	<script>
		$(document).ready(function() {
		  $('[data-toggle=offcanvas]').click(function() {
		    $('.row-offcanvas').toggleClass('active');
		  });
		});
	</script>
</html>
