<!DOCTYPE html>
<meta charset="utf-8">
<body>
<script data-main="js/main" src="js/<%= title %><% if (min) { %>.min<% } %>.js"></script>
<script>
  var fill = d3.scale.category20();


jQuery.ajax({
		type: 'GET',
		url: 'http://localhost:8080/pubs',
		success: function(data) {
			//console.log(data);
			var pubWords = [];

			data.forEach(function(item) {
				var wrds = item.name.split(" ");
				wrds.forEach(function(wrd){
					if (wrd.length > 1) {
						pubWords.push(wrd);	
					}
				});
			});

			d3.layout.cloud().size([1800, 1800]).timeInterval(10)
		      .words(pubWords.map(function(d) {
		        return {text: d, size: 10 + Math.random() * 90};
		      }))
		      .padding(5)
		      .rotate(function() { return ~~(Math.random() * 2) * 90; })
		      .font("Impact")
		      .fontSize(function(d) { return d.size; })
		      .on("end", draw)
		      //.on("word", progress)
		      .start();
		  // function progress(word) {
		  // 	//console.log('word placed');
		  // 	//console.log(word);
		  // }

		  function draw(words) {
		  	console.log("words have all been placed");

		    d3.select("body").append("svg")
		        .attr("width", 1800)
		        .attr("height", 1800)
		      .append("g")
		        .attr("transform", "translate(150,150)")
		      .selectAll("text")
		        .data(words)
		      .enter().append("text")
		        .style("font-size", function(d) { return d.size + "px"; })
		        .style("font-family", "Impact")
		        .style("fill", function(d, i) { return fill(i); })
		        .attr("text-anchor", "middle")
		        .attr("transform", function(d) {
		          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
		        })
		        .text(function(d) { return d.text; });
		  }
		},
		//dataType: 'jsonp',
		crossDomain: false
	});


  
</script>